################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleSecrets
/ConsoleSecrets/bin/Debug/netcoreapp2.2
/ConsoleSecrets/obj
